<h1>Editar película</h1>
<hr>
<form action="/movies/{{singleMovie._id}}/edit" method="POST">

    <label>Título</label>
    <input type="text" name="title" value="{{singleMovie.title}}">
    <label>Género</label>
    <input type="text" name="genre" value="{{singleMovie.genre}}">
    <label>Trama</label>
    <input type="text" name="plot" value="{{singleMovie.plot}}">

    <label>Elenco:</label>
    <select name="cast" multiple>
        {{#each allCelebrities}}
            <option value="{{_id}}">{{ name }}</option>
        {{/each}}
    </select>

    <button type="submit">Editar</button>
</form>